<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings >
    <add name="DefaultConnection" connectionString="Data Source= DESKTOP-2SL6K8D\MSSQLSERVE; Initial Catalog=Octal_GIU; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>